@charset "utf-8";

@font-face {
	font-family: 'DejaVuSansMono';
	src: url('DejaVuSansMono.eot');
	src: url('DejaVuSansMono.eot?#iefix') format('eot'),
		 url('DejaVuSansMono.woff') format('woff'),
		 url('DejaVuSansMono.ttf') format('truetype');
}

body {
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", "Monaco", "Consolas", monospace;
}
